<div class="container mt-3">
    <h2>Black/Dark Table</h2>
    <button class="btn btn-success" (click)="getAllTodoList()">Get Data</button>         
    <table class="table table-dark">
      <thead>
        <tr>
          <th>UserId</th>
          <th>Id</th>
          <th>Title</th>
          <th>Status</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let todo of todoList">
          <td>{{todo.userId}}</td>
          <td>{{todo.id}}</td>
          <td>{{todo.title}}</td>
          <td>{{todo.completed}}</td>
        </tr>
        
      </tbody>
    </table>
  </div>